


    
            <div class="sidenav">
                <nav>
                    <ul class="list-group">
                        <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                            <a routerLink="/register">Register</a>
                        </li>
                        <li class="list-group-item" routerLinkActive="active">
                            <a routerLink="/list">List</a>
                        </li>
                    </ul>
                </nav>
            </div>


