

a {
     color: #000; 
    text-decoration: none;
    background-color: transparent;
}

.sidenav{
    height: 100vh;
    background-color: lightblue;
    padding: 80px 40px;
}

.list-group-item {
   border: none !important;
}
ul{
    background-color: lightblue;
}