
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5>Total Investments</h5>
                <p>$120.9k</p>
                <hr>
                <div class="graph-img">
                    <img src="" alt="" >
                </div>
                <button class="btn btn-primary btn-block">View Report</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
              <div>
                <h5>1200K</h5>
                <h6 class="text-primary">Health Insurance</h6>
              </div>
              <div>
                <div class="form-group">
                    <label for="">firstname</label>
                    <input type="text" class="form-control alert-info" placeholder="firstname">
                </div>
                <div class="form-group">
                    <label for="">firstname</label>
                    <input type="text" class="form-control alert-info" placeholder="firstname">
                </div>
                <div class="form-group mt-5">
                    <button class="btn btn-primary mr-94 ">save</button>
                    <button class="btn btn-primary">save</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header alert-info">
                <h4 class="card-heading">
                    Up Next
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Lorem ipsum Investment</p>

                    </div>
                    <div class="col-sm-4 offset-2">
                        <p>$1200</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Lorem ipsum Investment</p>

                    </div>
                    <div class="col-sm-4 offset-2">
                        <p>$1200</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Lorem ipsum Investment</p>
                    </div>
                    <div class="col-sm-4 offset-2">
                        <p>$1200</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
